@import '../../index.scss';

#hmp-container {
  font-family: 'Roboto', sans-serif;
  color: $hmp-color;

  #hmp-intro-container {
    background: $hmp-background;
    padding-left: $spacing-horizontal;

    #hmp-intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 80vh;
      background: url("../../assets/hmp/hero.svg") no-repeat right bottom;
      background-size: 150vh auto;
      background-attachment: fixed;

      .intro-subsection {
        margin-top: $spacing-small;

        .icon {
          font-size: 24px;
          margin-right: $spacing-tiny;
        }
      }
    }
  }

  #hmp-main {
    #hmp-details-section {
      display: flex;
      justify-content: space-between;

      .hmp-details-subsection {
        width: 45%;
      }
    }

    #styleguides-container {
      display: flex;
      justify-content: space-around;
      margin-top: $spacing-small;
    }

    .hmp-screens {
      display: flex;
      justify-content:space-between;
      align-items: center;

      .details {
        width: 25%;

      }
    }

    .hmp-section {
      margin: $spacing-largest $spacing-horizontal;

      #hmp-colors-img {
        width: 35%;
        margin-top: $spacing-vertical-small;
      }

      #hmp-type-img {
        margin-top: $spacing-vertical-small;
        display: block;
        width: 20%;
      }
    }

    #hmp-sitemap-img {
      width: 100%;
      margin-top: $spacing-small;
    }

    #hmp-components-img {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: $spacing-vertical-small;
    }

    .hmp-screens-img {
      width: 70%;
    }
  }
}

.center {
  text-align: center;
}
