@import '../../index.scss';

#hmp-container {
  color: $hmp-color;

  #hmp-intro-container {
    background: $hmp-background;
    padding-left: $spacing-horizontal;

    #hmp-intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 80vh;
      background: url("../../assets/hmp/hero.svg") no-repeat right bottom;
      background-size: 150vh auto;
      background-attachment: fixed;

      .intro-subsection {
        margin-top: $spacing-small;

        .icon {
          font-size: 24px;
          margin-right: $spacing-tiny;
        }
      }
    }
  }

  #hmp-main {
    #hmp-details-section {
      display: flex;
      justify-content: space-between;

      .hmp-details-subsection {
        width: 45%;
      }
    }

    #styleguides-container {
      display: flex;
      justify-content: space-around;
      margin-top: $spacing-small;
      #hmp-colors-img {
        width: 35%;
      }

      #hmp-type-img {
        display: block;
        width: 20%;
      }
    }

    .hmp-screens {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .details {
        width: 25%;
      }

      .hmp-screens-img {
        width: 70%;
      }
    }

    .hmp-section {
      margin: $spacing-largest $spacing-horizontal;


    }

    #hmp-sitemap-img {
      width: 100%;
      margin-top: $spacing-small;
    }

    #hmp-components-img {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: $spacing-small;
    }
  }
}
@media (max-width: 1000px) {
  #hmp-container {
    #hmp-intro-container {
      padding-left: 0;

      #hmp-intro {
        background-size: 120vh auto;
        padding-left: $spacing-medium;
        background-position: 0 100%;
      }
    }

    #hmp-main {
      #hmp-details-section {
        flex-direction: column;

        .hmp-details-subsection {
          width: 100%;
        }
      }

      #styleguides-container {
        justify-content: space-between;

        #hmp-colors-img {
          width: 50%;
        }

        #hmp-type-img {
          width: 35%;
        }
      }

      .hmp-screens {
        flex-direction: column;

        .hmp-screens-img {
          width: 100%;
        }

        .details {
          width: 100%;
        }
      }

      .hmp-section {
        margin: $spacing-medium;
      }
    }
  }
}
@media (max-width: 500px) {
  #hmp-container {
    #hmp-intro-container {
      #hmp-intro {
        background-size: 70vh auto;
        padding-left: $spacing-small;
        background-position: 40% 100%;
      }
    }

    #hmp-main {

      .hmp-section {
        margin: $spacing-small;
      }
    }
  }
}
