@import '../../index.scss';

#moon-container {
  color: white;

  #moon-intro {
    padding: $spacing-large $spacing-horizontal;
    background: $moon-background;
    display: flex;
    justify-content: space-between;

    #hero-container {
      width: 60%;

      #moon-hero-img {
        width: 100%;
        height: auto;
      }
    }

    #intro-text {
      .intro-subsection {
        margin-top: $spacing-small;

        .icon {
          font-size: 24px;
          margin-right: $spacing-tiny;
        }
      }
    }
  }

  #moon-about-section {
    display: flex;
    padding: $spacing-large $spacing-horizontal 0 0;
    background: #010103;

    .moon-about-subsection {
      width: 90%;
      padding-left: $spacing-horizontal;

      p {
        margin-bottom: $spacing-medium;
      }
    }
  }

  #moon-sketches-img {
    width: 100%;
  }

  .moon-section {
    padding: $spacing-large $spacing-horizontal;
    background: $moon-black;

    p {
      width: 60%;
    }

    .moon-screen-img {
      width: 80%;
    }

    #type-section {
      margin-top: $spacing-medium;

      #type-inner {
        font-family: 'Jura', sans-serif;
        display: flex;

        .type-inner-subsection {
          p {
            font-family: 'Lato', sans-serif;
          }
          width: 50%;
        }
      }
    }

    #color-section {
      margin-top: $spacing-medium;

      #color-inner {
        display: flex;

        .color-blocks {
          display: flex;
          justify-content: space-between;

          .color-block {
            margin-right: $spacing-small;
          }
        }
      }
    }
  }
}

a {
  color: $moon-green;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $moon-green;
  }
}
@media (max-width: 1000px) {
  #moon-container {
    #moon-intro {
      padding: $spacing-medium;
      flex-direction: column-reverse;

      #hero-container {
        width: 100%;
      }

      #intro-text {
        margin-top: $spacing-medium;
      }
    }

    #moon-about-section {
      flex-direction: column;
      padding: 0;

      .moon-about-subsection {
        padding-left: $spacing-medium;

        p {
          margin-bottom: $spacing-medium;
        }
      }
    }

    .moon-section {
      padding: $spacing-medium;

      p {
        width: 100%;
      }

      .moon-screen-img {
        width: 100%;
      }

      #color-section {
        margin-top: $spacing-medium;

        #color-inner {
          flex-direction: column;

          .color-blocks {
            justify-content: flex-start;

            .color-block {
              margin-right: $spacing-small;
              margin-bottom: $spacing-small;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  #type-section {
    #type-inner {
      flex-direction: column;

      .type-inner-subsection {
        width: 100%!important;
      }
    }
  }

  #color-inner {
    flex-direction: column;

    .color-blocks {
      flex-direction: column;
    }
  }
}
