@import '../../index.scss';

#moon-container {
  color: white;

  #moon-intro {
    padding: $spacing-large $spacing-horizontal;
    background: $moon-background;
    display: flex;
    justify-content: space-between;

    #moon-hero-img {
      width: 60%;
    }

    #intro-text {
      .intro-subsection {
        margin-top: $spacing-small;

        .icon {
          font-size: 24px;
          margin-right: $spacing-tiny;
        }

        a {
          color: $moon-green;
          text-decoration: none;
          display: block;
          &:hover {
            text-decoration: underline;
          }
        }

      }
    }
  }

  #moon-about-section {
    display: flex;
    padding: $spacing-large $spacing-horizontal 0 0;
    background: #010103;

    .moon-about-subsection {
      width: 90%;
      padding-left: $spacing-horizontal;
      .header {
        font-weight: bold;
      }
      p {
        margin-bottom: $spacing-medium;
      }
    }
  }

  #moon-sketches-img {
    width: 100%;
  }

  .moon-section {
    padding: $spacing-large $spacing-horizontal;
    background: $moon-black;

    p {
      width: 60%;
    }

    .moon-screen-img {
      width: 80%;
    }

    #type-section {
      #type-inner {
        display: flex;

        .type-inner-subsection {
          width: 50%;
        }
      }
    }

    #color-section {
      #color-inner {
        justify-content: space-between;
        display: flex;
      }
    }
  }
}
