.work-container{
    margin-top: 250px;
    margin-bottom: 250px;
}

.work{
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    margin-left:150px;

}

.work-list{
    margin-left: 150px;
}

.work-img{
    height: 482px;
    width: 483px;
    margin-right: 120px;
    margin-top: 120px;

}
