.work-container{
    margin: 250px 0;

   .work-title{
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0;
    text-align: left;
     margin-left: 175px;

  }

  .work-list{
    margin: 0 175px;
    justify-content: space-between;

      a{
        margin-top: 120px;
      }
      a:nth-child(odd){
          margin-right: 0px;
      }

      .work-img {
          height: 100%;
          width: 94%;
      }
  }


}

