@import '../../index.scss';

.about-container {
  height: 700px;
  background: $primary-color;
  display: flex;
  height: 100%;
  padding:$spacing-largest 0;

  .about-col-pic {
    display: flex;
    align-items: center;

    .about-pic {
      width: 18vw;
      height: 18vw;
      margin-left: $spacing-horizontal;
    }
  }

  .about-col-descrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 20%;

    .descrp-container > p {
      width: 30vw;
      margin-bottom: $spacing-medium;
    }
  }
}
@media (max-width: 987px) {
  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about-col-pic {
      .about-pic {
        margin-left: 0;
        width: 25vw;
        height: 25vw;
        margin-bottom: 50px;
      }
    }

    .about-col-descrp {
      margin-left: 0;


      .descrp-container > p {
        font-size: 18px;
        width: 80vw;
      }
    }
  }
}
@media (max-width: 1000px) {
  .about-container {
    padding:$spacing-medium 0;
    .about-col-descrp {
      text-align: center;
      margin-left: 0;

    }
  }
}
@media (max-width: 500px) {
  .about-container {
    .about-col-pic {
      .about-pic {
        width: 40vw;
        height: 40vw;
        margin-bottom: 30px;
      }
    }
  }
}
