.about-container{
    height:700px;
    background: #F4F0F6;


   .about-col-pic{
    display: flex;
    align-items: center;

    .about-pic{
        width: 313px;
        height: 313px;
        margin-left: 120px;
      }
  }


    .about-col-descrp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;


        .about-descrp{
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 20px;

        }


        .descrp-container > p {

            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            width: 350px;

        }

    }

}






