@import '../../index.scss';

.about-container {
  height: 700px;
  background: #f4f0f6;
  display: flex;
  height:100vh;

  .about-col-pic {
    display: flex;
    align-items: center;

    .about-pic {
      width: 18vw;
      height: 18vw;
      margin-left: 147px;
    }
  }

  .about-col-descrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 20%;

    .about-descrp {
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 64px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 20px;
    }

    .descrp-container > p {
      font-size: 24px;
      font-style: normal;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;
      width: 30vw;
    }
  }
}

@media (max-width: 987px) {
  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items:center;
    .about-col-pic {
      .about-pic {
        margin-left: 0;
        width: 25vw;
        height: 25vw;
        margin-bottom: 50px;
      }
    }
    .about-col-descrp {
        margin-left: 0%;

      .about-descrp {
      }

      .descrp-container > p {
        font-size: 18px;
        width: 80vw;
      }
    }
  }
}

@media (max-width: 400px) {
  .about-container {
    .about-col-pic {
      .about-pic {
        width: 40vw;
        height: 40vw;
        margin-bottom: 30px;
      }
    }
  }
}
