@import '../../index.scss';

#suvorov-container {
  background: $suvorov-gray;

  #suvorov-intro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-large $spacing-horizontal;

    #intro-details {
      .intro-subsection {
        margin-top: $spacing-small;

        .icon {
          font-size: 24px;
          margin-right: $spacing-tiny;
        }
      }
    }

    #suvorov-hero-img {
      width: 50%;
      height: auto;
    }
  }

  .suvorov-display-section {
    padding: $spacing-large 0;
    background: white;
  }

  .suvorov-section {
    padding: $spacing-large $spacing-horizontal;
    background: white;

    p {
      width: 60%;
    }

    #suvorov-colors-img {
      width: 50%;
      height: auto;
    }

    #suvorov-type-img {
      width: 15%;
      height: auto;
    }

    .suvorov-screens-img {
      width: 100%;
      height: auto;
    }
  }
}

.suvorov-link {
  color: $suvorov-orange;
  text-decoration: none;
  display: block;

  &:hover {
    color: $suvorov-orange;
    text-decoration: underline;
  }
}
