@import '../../index.scss';

#suvorov-container {
  background: $suvorov-gray;

  #suvorov-intro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-large $spacing-horizontal;

    #intro-details {
      .intro-subsection {
        margin-top: $spacing-small;

        .icon {
          font-size: 24px;
          margin-right: $spacing-tiny;
        }
      }
    }

    #suvorov-hero-img {
      width: 50%;
      height: auto;
    }
  }

  .suvorov-section {
    padding: $spacing-large $spacing-horizontal;
    background: white;

    p {
      width: 60%;
    }

    #suvorov-colors-img {
      width: 50%;
      height: auto;
      margin-top: $spacing-small;
    }

    #suvorov-type-img {
      width: 15%;
      height: auto;
      margin-top: $spacing-small;
    }

    .suvorov-screens-img {
      width: 100%;
      height: auto;
    }
  }
}

.suvorov-link {
  color: $suvorov-orange;
  text-decoration: none;
  display: block;

  &:hover {
    color: $suvorov-orange;
    text-decoration: underline;
  }
}
@media (max-width: 1000px) {
  #suvorov-container {
    #suvorov-intro-container {
      align-items: flex-start;
      flex-direction: column-reverse;
      padding: $spacing-medium;

      #intro-details {
        margin-top: $spacing-medium;
      }

      #suvorov-hero-img {
        width: 100%;
      }
    }

    .suvorov-section {
      padding: $spacing-medium;

      p {
        width: 100%;
      }

      #suvorov-colors-img {
        width: 60%;
      }

      #suvorov-type-img {
        width: 20%;
      }
    }
  }
}
@media (max-width: 500px) {
  #suvorov-container {
    #suvorov-intro-container {
      padding: $spacing-small;
    }

    .suvorov-section {
      padding: $spacing-small;

      #suvorov-colors-img {
        width: 100%;
      }

      #suvorov-type-img {
        width: 50%;
      }
    }
  }
}
