@import '../../index.scss';

#info-intro-container {
  padding: $spacing-large $spacing-horizontal;
  background: $primary-color;

  .intro-subsection,
  h1 {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .intro-subsection {
    padding-top: $spacing-small;

    .icon {
      font-size: 24px;
      margin-right: $spacing-tiny;
    }
  }
}

.info-container {
  padding: $spacing-large $spacing-horizontal;

  .info-img-container {
    width: 100%;

    img {
      width: 70%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  .info-text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.info-link {
  color: $secondary-color;
  font-weight: bold;

  &:hover {
    color: $secondary-color;
  }
}
@media (max-width: 1000px) {
  #info-intro-container {
    padding: $spacing-medium;

    .intro-subsection,
    h1 {
      width: 100%;
    }
  }

  .info-container {
    padding: $spacing-medium;

    .info-img-container {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .info-text {
      width: 100%;
    }
  }
}
@media (max-width: 500px) {
  #info-intro-container {
    padding: $spacing-small;
  }

  .info-container {
    padding: $spacing-small;
  }
}
