@import '../../index.scss';
#info-intro-container {
  padding: $spacing-large $spacing-horizontal;
  background: $primary-color;
  h1, .intro-subsection {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .intro-subsection {
    padding-top:$spacing-small;
    .icon {
      font-size: 24px;
      margin-right: $spacing-tiny;
    }
  }
}
#elections-container {
  padding: $spacing-large $spacing-horizontal;
  #elections-img-container {
    width: 100%;
    img {
      width: 70%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    #elections-details-container {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-top: $spacing-small;

      img {
        width: 45%;
      }
    }
  }
  #elections-info {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.info-link {
  color:$secondary-color;
  font-weight: bold;
  &:hover {
    color:$secondary-color;
    
  }
}
