@import '../../index.scss';

#sop-container {
  font-family: 'Roboto', sans-serif;
  color: $sop-color;

  #sop-intro-container {
    background: linear-gradient(180deg, #FFFFFF 0%, #D2D7E2 100%);
    padding-left: $spacing-horizontal;

    #sop-intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 80vh;
      background: url("../../assets/sop/sop-hero.svg") no-repeat right bottom;
      background-size: 150vh auto;
      background-attachment: fixed;

      .intro-subsection {
        margin-top: $spacing-small;

        .icon {
          font-size: 24px;
          margin-right: $spacing-tiny;
        }
      }
    }
  }

  #sop-main {
    #sop-details-section {
      display: flex;

      #details-text {
        padding-right: $spacing-horizontal;
      }

      #sop-details-img {
        width: 35%;
      }
    }

    #sop-flow-img {
      width: 100%;
      padding: $spacing-large $spacing-horizontal;
      background: $sop-gray;
      margin-bottom: $spacing-large;
    }

    #sop-sketches-img {
      width: 100%;
      height: auto;
      padding: $spacing-large $spacing-horizontal;
      background: $sop-gray;

    }

    #sketches-header {
      margin-left:$spacing-horizontal;
      margin-top:$spacing-large;
      margin-bottom: $spacing-small;
    }

    #flow-section {
      padding-bottom: $spacing-small;
    }

    .sop-section {
      padding: $spacing-large $spacing-horizontal;

      .paragraph {
        width: 60%;

        .bold {
          font-weight: bold;
        }
      }

      #sop-screens-img {
        width: 100%;
        height: auto;
        background: $sop-background;
        padding: $spacing-large $spacing-horizontal-large;
      }

      #sop-components-img {
        margin-top: $spacing-small;
        width: 70%;
        height: auto;
      }
    }

    #style-guides-container {
      display: flex;
      margin-top: $spacing-large;

      #type {
        padding-left: $spacing-horizontal;
      }
    }
  }
}

.sop-header {
  margin-bottom: 8px;
  margin-top: $spacing-medium;
}

.title {
  font-weight: bold;
}
