@import '../../index.scss';

#sop-container {
  color: $sop-color;

  #sop-intro-container {
    background: linear-gradient(180deg, #FFFFFF 0%, #D2D7E2 100%);
    padding-left: $spacing-horizontal;

    #sop-intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 80vh;
      background: url("../../assets/sop/sop-hero.svg") no-repeat right bottom;
      background-size: 150vh auto;
      background-attachment: fixed;

      .intro-subsection {
        margin-top: $spacing-small;

        .icon {
          font-size: 24px;
          margin-right: $spacing-tiny;
        }
      }
    }
  }

  #sop-main {
    #sop-details-section {
      display: flex;

      #details-text {
        padding-right: $spacing-horizontal;

        a {
          color: $bch-blue;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            color: $bch-blue;
          }
        }
      }

      #sop-details-img {
        width: 35%;
      }
    }

    #sop-flow-img {
      width: 100%;
      padding: $spacing-large $spacing-horizontal;
      background: $sop-gray;
      margin-bottom: $spacing-large;
    }

    #sop-sketches-img {
      width: 100%;
      height: auto;
      padding: $spacing-large $spacing-horizontal;
      background: $sop-gray;
    }

    #sketches-header {
      margin-left: $spacing-horizontal;
      margin-top: $spacing-large;
      margin-bottom: $spacing-small;
    }

    #flow-section {
      padding-bottom: $spacing-small;
    }

    .sop-section {
      padding: $spacing-large $spacing-horizontal;

      .paragraph {
        width: 60%;

        .bold {
          font-weight: bold;
        }
      }

      #sop-screens-img {
        width: 100%;
        height: auto;
        background: $sop-background;
        padding: $spacing-large $spacing-large;
      }

      #sop-components-img {
        margin-top: $spacing-small;
        width: 70%;
        height: auto;
      }
    }

    #style-guides-container {
      display: flex;
      margin-top: $spacing-large;

      #type {
        padding-left: $spacing-horizontal;
      }
    }
  }
}

.sop-header {
  margin-bottom: 8px;
  margin-top: $spacing-medium;
}

.title {
  font-weight: bold;
}
@media (max-width: 1000px) {
  #sop-container {
    #sop-intro-container {
      padding-left: 0;

      #sop-intro {
        background-size: 100vh auto;
        padding-left: $spacing-medium;
      }
    }

    #sop-main {
      #sop-details-section {
        flex-direction: column;

        #details-text {
          padding-right: 0;
        }

        #sop-details-img {
          width: 100%;
          margin-top: $spacing-small;
        }
      }

      #sop-flow-img {
        width: 100%;
        padding: $spacing-medium;
      }

      #sop-sketches-img {
        padding: $spacing-medium;
      }

      #sketches-header {
        margin-left: $spacing-medium;
        margin-top: $spacing-medium;
        margin-bottom: $spacing-small;
      }

      #flow-section {
        padding-bottom: $spacing-small;
      }

      .sop-section {
        padding: $spacing-medium;

        .paragraph {
          width: 100%;
        }

        #sop-screens-img {
          padding: $spacing-small;
        }

        #sop-components-img {
          width: 100%;
        }
      }

      #style-guides-container {
        margin-top: $spacing-medium;
        flex-direction: column;

        #colors {
          img {
            width: 100%;
            height: auto;
          }
        }

        #type {
          padding-left: 0;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  #sop-container {
    #sop-intro-container {
      padding-left: 0;

      #sop-intro {
        background-size: 60vh auto;
        padding-left: $spacing-small;
      }
    }

    #sop-main {
      #sop-details-section {
        #sop-details-img {
          margin-top: $spacing-small;
        }
      }

      #sop-flow-img {
        padding: $spacing-small;
      }

      #sop-sketches-img {
        padding: $spacing-small;
      }

      #sketches-header {
        margin-left: $spacing-small;
        margin-top: $spacing-small;
      }

      .sop-section {
        padding: $spacing-small;
      }
    }
  }
}
