@import '../../index.scss';

.footer-container {
  background-color: black;
  height: 247px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;

  .footer-section {
    width: 40%;
    .footer-social-links {
      color: white;
      display: flex;
      flex-direction: column;

      .social-link {
        color: white;
        width: 80px;

        &:hover {
          color: $secondary-color;
          text-decoration: none;
        }
      }
    }
  }
}
