.footer-container{
    background-color: black;
    height: 247px;
    color:white;
    align-items: center;
    justify-content: center;

  p{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

  }


  .footer-social-links{
    color: white;

    a {
      color: white;
      &:hover{
        color: #B093BF;
      }
    }

  }



}
