@import '../../index.scss';

#archive {
  margin: $spacing-large $spacing-horizontal;

  #archive-subsection {
    display: flex;
    justify-content: space-between;

    #archive-img-container {
      width: 60%;
      height: auto;

      .archive-img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: $spacing-tiny 0;
        cursor: pointer;
      }

      .archive-selected {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 6px;
          left: -20px;
          display: inline-block;
          width: 12px;
          height: 12px;
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border-radius: 7.5px;
          border: 1.5px solid black;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  #archive {
    margin: $spacing-large;

    #archive-subsection {
      flex-direction: column;

      #archive-img-container {
        width: 90%;
      }
    }
  }
}
@media (max-width: 500px) {
  #archive {
    margin: $spacing-medium;

    #archive-subsection {
      flex-direction: column;

      #archive-img-container {
        width: 100%;
      }
    }
  }
}
