@import '../../index.scss';

#archive-container {
  margin: $spacing-large $spacing-horizontal;

  #archive-subsection {
    display: flex;
    justify-content: space-between;

    .archive-img {
      width: 70%;
      height: auto;
      border-radius: 5px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: $spacing-tiny 0;
        cursor:pointer;
      }

      .archive-selected {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 6px;
          left: -20px;
          display: inline-block;
          width: 12px;
          height: 12px;
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border-radius: 7.5px;
          border: 1.5px solid black;
        }
      }
    }
  }
}
