//

.transparent {
  background: transparent!important;
}

.light {
  background: white!important;
}

.navbar-nav {
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  padding-left: 131px;

  .active {
    color: red;
  }

  .nav-link {
    color: gray;
    font-size: 16px;
    margin-right: 20px;
    padding-left:0!important;
    text-decoration: none;

    &:hover {
      color: black;
    }
  }
}
