
body{
    font-family: Josefin Sans, serif !important;


}
.container-main {
    padding: 0px 0;


    .intro {
        height: 900px;
        background: url("assets/portfolio-img 1.png") no-repeat right;
        background-size: 45% 100%;
    }

    .intro-details{
        margin-left: 147px;

    .details-name {
        font-size: 80px;
        font-style: normal;
        font-weight: 600;
        line-height: 80px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 240px;

    }

    .details-profession {
        font-size: 45px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
    }

    .details-social-links > a {
        color: black;
    }
  }
}
