
body{
    font-family: Josefin Sans, serif !important;


}
.container-main{
    padding: 0px 0;

}
.introduction{
    height: 900px;
    padding-left: 82px;
    background: url("assets/portfolio-img 1.png") no-repeat right;
    background-size: 45% 100%;
}

.name{
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 240px;

}
.profession{
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.social-links > a {
    color: black;
}
