@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

//spacing
$spacing-horizontal: 147px;
$spacing-horizontal-small:24px;
$spacing-vertical-small: 24px;
$spacing-vertical-medium: 48px;
$spacing-vertical-large: 64px;
//sop
$sop-color: #021D4E;
$sop-background: #D0D5DD;
@mixin h1 {
  font-weight: bold;
  color: $text-color;
}
//hmp2
$hmp-background: #E2E5EB;
$hmp-color: #001D51;

//suvorov-park
$suvorov-gray:#eae9e9;
$suvorov-yellow:#EAA81B;
$suvorov-green:#012C0B;
