.intro {
  height: 100vh;
  background: url("../../assets/New_Land.jpg") no-repeat right;
  background-size: 100vh auto;
  margin-top: -56px;
}

.intro-details {
  margin-left: 147px;

  .details-name {
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0;
    text-align: left;
    padding-top: 240px;
  }

  .details-profession {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0;
    text-align: left;
  }

  .details-social-links > a {
    color: black;
    font-size: 24px;

    &:hover {
      color: #B093BF;
    }
  }
}

@media (max-width: 987px) {
  .intro {
    background: none;
  }

  .intro-details {
    margin-left: 5%;
  }
}
